<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <nav class="navbar navbar-expand-sm bg-light navbar-light" style="background-color: rgba(9, 49, 58, 0.884); color: white"></nav>
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="./images/d953bccd0150f2329492a84f648541c0.jpg" alt="THE CAVE" width="65" height="62">
        </a>
      <a class="navbar-brand" href=""></a>
      <button class="navbar-toggler" type="button" data-togg="collapse"
         data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
     </button>
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
              </li>
            </ul>
        </div>      